body {
    background-color:rgb(78, 28, 88);
    font-family: 'Exo 2', sans-serif;
}

#image{
    float:right; 
    width: 400px; 
    height:200px; 
    padding: 10px;
}

h1{
    font-family: 'Black And White Picture', sans-serif;
}

header{
    text-align: center; 
    color:white";
}