body {
    background-color:rgb(78, 28, 88);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#image{
    float:right; 
    width: 400px; 
    height:200px; 
    padding: 10px;
    border-radius: 25px;
}

h1{
    font-family: 'Black And White Picture', sans-serif;
    color: rgb(46, 110, 206)
}

footer{
    text-align: center; 
    color:white
}
